<div class="bg-body-secondary pt-5 mb-0">
  <div class="container mb-0">
    <h3>Get the FreshCart app</h3>
    <p class="text-secondary">
      We Will Send you a link,open it on your phone to download the app.
    </p>
    <div class="row g-2">
      <div class="col-md-9 col-sm-12">
        <input type="text" placeholder="Email.." class="form-control" />
      </div>
      <div class="col-md-3 col-sm-12">
        <button class="btn btn-success ps-5 pe-5">Share App Link</button>
      </div>
    </div>

    <h2 class="text-success fw-bold text-center pt-5 pb-5 mb-0"> © Eng : Romany Anter</h2>
  </div>
</div>
