<div class="py-5 mt-5">
  <section class="bg-main-light w-75 mx-auto rounded shadow p-3">
    <h1 class="h4 text-center">Update User Password</h1>

    <form
      class="vstack gap-3 w-75 mx-auto"
      [formGroup]="restertpassord"
      (ngSubmit)="handelubdatapassord()"
    >
      <div class="form-item">
        <label for="currentPassword">Current Password:</label>
        <input
          type="password"
          placeholder="Your Current Password...."
          class="form-control"
          formControlName="currentPassword"
          id="currentPassword"
        />
        <div
          class="alert alert-danger mt-2"
          *ngIf="
            restertpassord.get('currentPassword')?.errors &&
            restertpassord.get('currentPassword')?.touched
          "
        >
          <p
            class="mb-0"
            *ngIf="restertpassord.get('currentPassword')?.getError('required')"
          >
            Curent Password Is Required
          </p>
          <p
            class="mb-0"
            *ngIf="restertpassord.get('currentPassword')?.getError('minLength')"
          >
            Must be at least 6 chars
          </p>
          <p
            class="mb-0"
            *ngIf="restertpassord.get('currentPassword')?.getError('maxLength')"
          >
            Must be at max length 10 chars
          </p>
        </div>
      </div>

      <div class="form-item">
        <label for="password">Password:</label>
        <input
          formControlName="password"
          id="password"
          type="password"
          class="form-control"
          placeholder="Your Password...."
        />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="
          restertpassord.get('password')?.errors &&
          restertpassord.get('password')?.touched
        "
      >
        <p
          class="mb-0"
          *ngIf="restertpassord.get('password')?.getError('required')"
        >
          Password Is Required
        </p>
        <p
          class="mb-0"
          *ngIf="restertpassord.get('password')?.getError('minLength')"
        >
          Must be at least 6 chars
        </p>
        <p
          class="mb-0"
          *ngIf="restertpassord.get('password')?.getError('maxLength')"
        >
          Must be at max length 10 chars
        </p>
      </div>

      <div class="form-item">
        <label for="rePassword">RePassword:</label>
        <div class="position-relative">
          <input
            #repass
            formControlName="rePassword"
            id="rePassword"
            type="Password"
            class="form-control"
            placeholder="Confirm Password...."
          />
        </div>

        <div
          class="alert alert-danger mt-3"
          *ngIf="
            restertpassord.get('rePassword')?.errors &&
            restertpassord.get('rePassword')?.touched
          "
        >
          <p
            class="mb-0"
            *ngIf="restertpassord.get('rePassword')?.getError('required')"
          >
            RePassword Is Required
          </p>
          <p
            class="mb-0"
            *ngIf="restertpassord.get('rePassword')?.getError('minLength')"
          >
            Must be at least 6 chars
          </p>
          <p
            class="mb-0"
            *ngIf="restertpassord.get('rePassword')?.getError('maxLength')"
          >
            Must be at max length 10 chars
          </p>
        </div>
      </div>

      <button
        *ngIf="!isLoading"
        type="submit"
        class="btn btn-success ms-auto"
        [disabled]="restertpassord.valid"
      >
        <span>Change</span>
      </button>

      <button *ngIf="isLoading" type="button" class="btn btn-success ms-auto">
        <span> <i class="fas fa-spinner fa-spin"></i> </span>
      </button>

      <p
        class="alert alert-danger text-center w-50 mx-auto mb-0 p-1 mt-3"
        *ngIf="errmsg"
      >
        {{ errMasg }}
      </p>
    </form>
  </section>
</div>
